.search-input::-webkit-search-cancel-button {
  display: none;
}

.main__wrapper::before {
  content: "";
  background-color: white;
  width: 100px;
  height: 50px;
  position: fixed;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  z-index: 1;
  bottom: 4.8%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: inset 0px 0px 80px 0px rgba(92, 85, 85, 0.05);
}
